# MongoDB Atlas URI
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.imwycno.mongodb.net/harry_co_jeans?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB_NAME=harry_co_jeans

# Session Secret
JWT_SECRET=your_jwt_secret_key_here

# Server Port
PORT=3000
